extends ../layout/main

block style
    link(rel="stylesheet" type="text/css" href="../slick/slick.css")
    link(rel="stylesheet" type="text/css" href="../slick/slick-theme.css")
    link(rel="stylesheet" href="../css/style.css")

block title
    title BARLY

block header
    block variables
        - const slider = false
    include ../modules/header

block content
    .page-wrapper
        h2 DESCRIPTION OF SERVICES
        .box
            h3 ОПИСАНИЕ УСЛУГ
            .accordion-container
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Стрижка (форма)
                    .content
                        ul
                            li 1. Стрижка, включает в себя комплекс услуг: диагностику формы головы и структуры волос, консультацию мастера по уходу за волосами, очищения кожи головы и волос, стрижка, рекомендации по укладке и саму укладку. Поэтому кроме самой стрижки, вы получите ряд других услуг и консультацию мастера.
                            li 2. Коррекция стрижки, включает в себя консультацию мастера, очищение кожи головы и волос, обновление стрижки которая уже имеется. Данная услуга вам подойдет если вы хотите, подправить/скорректировать форму существующей стрижки или же подстричь кончики и оживить вашу форму.
                            li 3. Стрижка челки. Если вам достаточно подкорректировать индивидуально, только чёлку - в таком случае, можете прийти к нам в салон на стрижку без мытья головы.
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Окрашивание (цвет)
                    .content
                        ul
                            li 1. Тон в тон, включает в себя консультацию мастера, подбор индивидуального оттенка для волос + укладка. Если вы хотите сделать окрашивание в цвет ваших волос, выровнять цвет, покрасить корни волос - то эта услуга вам точно подойдет.
                            li 2. Blending, включает в себя консультацию мастера, создание сложного тона в том числе формирование перехода между оттенками + укладка.
                            li 3. 1/2 Blond, данная услуга состоит из консультации мастера, рельефного окрашивания с минимальным количеством осветления + тон+ укладка.
                            li 4. Low Lights, в результате этой услуги вы получите консультацию мастера, окрашивание с частичным осветлением, с использованием сложных техник и комбинированием их, тон+укладка.
                            li 5. Full Blonde, если вы хотите стать “блондинкой”, обновить уже существующий цвет, то эта услуга точно для вас. Так как, включает в себя консультацию мастера, большое количество осветления, либо создания цвета с нуля + тон+ укладка.
                            li 6. Выход из черного, включает в себя консультацию мастера с тестовой прядью -> снятие пигмента-> осветление волос-> лечение -> тонирование-> стрижка по-желанию-> укладка. Вам обязательно, нужно будет прийти к мастеру на консультацию, чтобы он оценил состояние ваших волос, увидел объем работы и принял решение сможет он взяться за данную услугу. Чтобы в итоге вы были довольны и без повреждения ваших волос.
                            li 7. Smart blonde/ Sugar Blonde, состоит из консультации мастера, совмещает в себе комбинацию сложных техник окрашивания, осветление +blending+ укладка.
                            li 8. Hair XXL, включает в себя консультацию мастера, окрашивание очень длинных или густых волос.
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Уход
                    .content
                        ul
                            li 1. Olaplex. Формула Olaplex содержит всего один активный ингредиент. Он заново соединяет и усиливает дисульфидные связи, которые отвечают за природную прочность, эластичность и силу волос. Без силиконов, масел, сульфатов и альдегидов. Возможен при окрашивании. Процесс самой процедуры проходит несколько фаз:
                                ol
                                    li(style="margin: 0 10px") 1 фаза - добавляется в осветляющую пудру,
                                    li(style="margin: 10px") 2 фаза - наносится как маска, на время;
                                    li(style="margin: 10px") 3 фаза - смывается шампунем Olaplex №4
                                    li(style="margin: 10px") 4 фаза - заключительная, закрепляется кондиционером Olaplex №5, также выступает как отдельная процедура по восстановлению волос на молекулярном уровне. И после ухода, мастер делает вам укладку. Мы рекомендуем добавлять Olaplex в окрашивание, это безопасное окрашивание, и уже практически все окрашивают с Olaplex.
                            li 2. Lakme, такой уход подходит для окрашенных волос. В нем используются тонирующие шампуни и кондиционеры, которые помогают улучшать и усиливать тонирования, а также поддерживать оттенок волос.
                            li 3. Davines, данный уход подбирает мастер по состоянию волос. Это процедуры по реконструкции и увлажнении волос. Лечение включает в себе шампунь, маску, филлер, и кондиционер. Подходит для волос которые нуждаются в питании и увлажнении.
                            li 4. Oribe - питательная процедура для волос, которая включает в себя глубокое очищение волос, и максимальное питания благодаря составу на маслах. Подойдет для сухих и обезвоженных волос.
                            li 5. Bomba treatment by Romeo Felipe, если вашим волосам не хватает блеска и шелковистости, то данный уход точно поможет вам это решить. Он состоить из комплексной маски, которая придает волосам блеска, шелковистости.
                            li 6. BBcos, включает в себя комплекс разных средств для увлажнения, питания, блеска и шелковистости.
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Брови/Макияж
                    .content
                        ul
                            li 1. Make-up light - демакияж, легкий тон, скуловая коррекция, оформление губ, бровей и ресниц. Это легкий макияж, который подчеркнет вашу натуральную красоту и подойдет на каждый день.
                            li 2. Make-up fashion:
                                ol
                                    li(style="margin: 0 10px") - дневной 650 - демакияж, идеальный тон, макияж глаз в натуральных оттенках, скуловая коррекция, оформление бровей и губ.
                                    li(style="margin: 0 10px") - вечерний 850 - демакияж, идеальный стойкий тон, контуринг, макияж глаз и губ в более насыщенных и вечерних тонах, оформление бровей. Такой макияж подойдет на какой-то праздник/событие, фотосессию.
                            li 3. Make-up+брови, включает в себя оформление и окрашивание бровей + Make-up Light.
                            li 4. Коррекция бровей - создание и коррекция формы бровей.
                            li 5. Окрашивание бровей - окрашивание бровей хной или краской.
                            li 6. Spa для бровей - глубокое очищение с помощью натурального скраба, экспресс увлажнение в формате гидрогелевых патчей, оформление и окрашивание бровей, закрепление результата маслом.
                            li 7. Скрабирование бровей - глубокое очищение бровей при помощи натурального скраба.
                            li 8. Укладка бровей - ламинирование волосков и закрепление их в нужном направлении. Включает в себя фиксацию волоска 1 мм. составом, нейтрализация нанесения 2-го состава, закрепление результата 3 мм. составом.

block footer
    include ../modules/footer

block scripts
    script(type="text/javascript" src="../slick/slick.min.js")
    script(src="../js/wow.min.js")
    script(src="../js/script.js")