extends ../layout/main

block style
    link(rel="stylesheet" type="text/css" href="../slick/slick.css")
    link(rel="stylesheet" type="text/css" href="../slick/slick-theme.css")
    link(rel="stylesheet" href="../css/style.css")

block title
    title BARLY

block header
    block variables
        - const slider = false
    include ../modules/header

block content
    .page-wrapper
        h2 COMMUNICATION AND DIAGNOSTIC
        .box
            p.main-subtitle Помните! Не нужно задавать абсолютно все вопросы из перечня. Индивидуально выбираем актуальные вопросы для каждого конкретного клиента. Особенно актуальны предложенные вопросы при общении с клиентами, которые еще не определились, что именно им нужно. Это поможет администратору, мастеру подобрать наиболее подходящие варианты.
            h3 СИТУАЦИОННЫЕ ВОПРОСЫ
            ul.list
                li 1. Вы первый раз к нам обращаетесь? Или уже были у нас в салоне?
                li 2. Если клиент уже обращался в салон. Вы хотите к определенному мастеру записаться или вам порекомендовать/подобрать?
                li 3. На какую услугу/процедуру хотите к нам записаться?
                li 4. Если клиент знает точно какую услугу он хочет. Когда планируете записаться?/На какой день, время вы сможете подъехать?
            p Если клиент не знает точно что ему нужно или говорит одну из услуг, выбираем вопросы из следующего блока
                strong “Уточняющие вопросы”
            h3 УТОЧНЯЮЩИЕ ВОПРОСЫ
            .accordion-container
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading СТРИЖКА
                    .content
                        ul
                            li 1. Какую стрижку хотите сделать?
                            li 2. Как давно стриглись?
                            li 3. Какая у вас длина волос: 1-я, 2-я, 3-я, 4-я?
                            li 4. Какая у вас сейчас стрижка?
                            li 5. Вы хотите что-то кардинально поменять или просто подкорректировать форму?
                            li 6. Если кардинально поменять. Уже знаете какую стрижку, хотите или нужно с мастером проконсультироваться? Администратор *Если кардинально поменять. Уже знаете какую стрижку, хотите или проконсультироваться, что вам лучше подойдет? Мастер
                            li 7. Для вашей структуры волос, я  бы рекомендовал/а ____ или ___(название стрижек или техник по которой будет производиться стрижка). Что скажете, какую хотели бы сделать? Мастер
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading ОКРАШИВАНИЕ
                    .content
                        ul
                            li 1. Вы уже определились, какое окрашивание хотите сделать? Или вам необходима консультация мастера?
                            li 2. Как часто делаете окрашивание?
                            li 3. Какой краской до этого делали окрашивание?
                            li 4. На данный момент у вас волосы окрашенные?
                            li 5. Какой длинны у вас волосы?
                            li 6. Какого цвета хотели бы окрашивание?
                            li 7. Чтобы хотели сделать из окрашивания: глобальное изменения цвета, выход из черного, Full Blonde (*подбираем цвета исходя из потребности клиента)? Или желаете чтобы мастер подобрал для вас индивидуальный рисунок?
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading ЛЕЧЕНИЕ ВОЛОС
                    .content
                        ul
                            li 1. Делали до этого какие-то процедуры для волос?
                            li 2. Как часто делаете лечение/уход за волосами?
                            li 3. Вы хотите на определенное лечение волос записаться или вам нужна помощь в подборе? (*если клиент знает точную процедуру, просто его записываем)
                            li 4. В каком у вас состоянии волосы: нормальные, сухие, обломанные?
                            li 5. Вы хотите увлажнить, восстановить или пропитать волосы (*подбираем лечение в зависимости от состояния волос клиента)?
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading УКЛАДКА
                    .content
                        ul
                            li 1. Какую укладку хотелось бы сделать?
                            li 2. Вы хотите укладку на для какого-то события (*День Рождение, фотосессия, девичник и так далее) или повседневную?/У вас есть какой-то повод для укладки? *говорим с улыбкой
                            li 3. Предпочитаете локоны, легкую волну или собранную прическу? Или хотите чтобы для вас мастер подобрал варианты укладки?
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading МАКИЯЖ
                    .content
                        ul
                            li 1. Вы уже знаете какой макияж, хотите сделать или нужна рекомендация от визажиста?
                            li 2. Вам нужен вечерний макияж (на фотосессию) или на каждый день?
                            li 3. У нас есть makeup light (более легкий) и  makeup fashion (насыщенный), какой хотелось бы сделать?
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading УСЛУГИ ДЛЯ БРОВЕЙ
                    .content
                        ul
                            li 1. Какую услугу по уходу за бровями хотите сделать?
                            li 2. Вы хотите сделать просто коррекцию бровей или вместе с окрашиванием?
                            li 3. Делали когда-то SPA для бровей, скрабирование или укладку? Хотели бы попробовать?

block footer
    include ../modules/footer

block scripts
    script(type="text/javascript" src="../slick/slick.min.js")
    script(src="../js/wow.min.js")
    script(src="../js/script.js")