extends ../layout/main

block style
    link(rel="stylesheet" type="text/css" href="../slick/slick.css")
    link(rel="stylesheet" type="text/css" href="../slick/slick-theme.css")
    link(rel="stylesheet" href="../css/style.css")

block title
    title BARLY

block header
    block variables
        - const slider = false
    include ../modules/header

block content
    .page-wrapper
        h2 INCOMING CALL TO BARLY SALON
        .box
            h3 Открытие
            ul.list
                li - Добрый день/Приветствую, салон Barly, меня зовут ____, чем могу помочь?/Что вас интересует?
                li - ...
                li - Как могу к вам обращаться?
                li - ...
            h3 Ситуационные вопросы
            .accordion-container
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Новый клиент
                    .content
                        ul
                            li 1. ___ (имя клиента), вы первый раз к нам обращаетесь? Или уже были у нас в салоне?
                            li 2. На какую услугу/процедуру хотите к нам записаться?
                            li 3. *Если клиент не знает точно что ему нужно или говорит одну из услуг, выбираем вопросы из следующего блока “Уточняющие вопросы”.
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Постоянный клиент
                    .content
                        ul
                            li 1. ___ (имя клиента), вы первый раз к нам обращаетесь? Или уже были у нас в салоне?
                            li 2. На какую услугу/процедуру хотите к нам записаться?
                            li 3. *Если клиент уже обращался в салон. Вы хотите к определенному мастеру записаться или вам порекомендовать/подобрать?
                            li 4. *Если клиент не знает точно что ему нужно или говорит одну из услуг, выбираем вопросы из следующего блока “Уточняющие вопросы”.
                            li 5. *Если клиент уже не первый раз записывает и знает точно какую услугу он хочет, к какому мастеру переходим к закрытию и допродаже. Когда планируете записаться?/На какой день, время вы сможете подъехать?
                h3 Уточняющие вопросы
                p.title-description *Если клиент не определился что он именно хочет, то вопросами, таким образом, мы помогаем выбрать и подобрать лучший вариант. Подбираем вопросы из нужного блока в зависимости от запроса клиента.
                .accordion-container
                    .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                        .heading Стрижка
                        .content
                            ul
                                li 1. Какую стрижку хотите сделать или еще не знаете?
                                li 2. Какая у вас длина волос: 1-я, 2-я, 3-я, 4-я?
                                li 3. Вы хотите что-то кардинально поменять или просто подкорректировать форму?
                                li 4. *Если кардинально поменять. Уже знаете какую стрижку, хотите или нужно с мастером проконсультироваться?
                    .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                        .heading Окрашивание
                        .content
                            ul
                                li 1. Вы уже определились, какое окрашивание хотите сделать? Или вам необходима консультация мастера?
                                li 2. Как часто делаете окрашивание?
                                li 3. Какого цвета хотели бы окрашивание?
                                li 4. Чтобы хотели сделать из окрашивания: глобальное изменения цвета, выход из черного, Full Blonde (*подбираем цвета исходя из потребности клиента)? Или желаете чтобы мастер подобрал для вас индивидуальный рисунок?
                    .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                        .heading Лечение волос
                        .content
                            ul
                                li 1. Делали до этого какие-то процедуры для волос?
                                li 2. Вы хотите на определенное лечение волос записаться или вам нужна помощь в подборе? (*если клиент знает точную процедуру, просто его записываем)
                                li 3. Вы хотите увлажнить, восстановить или пропитать волосы (*подбираем лечение в зависимости от состояния волос клиента)?
                    .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                        .heading Укладка
                        .content
                            ul
                                li 1. Какую укладку хотелось бы сделать?
                                li 2. Вы хотите укладку на для какого-то события (*День Рождение, фотосессия, девичник и так далее) или повседневную?/У вас есть какой-то повод для укладки? *говорим с улыбкой
                                li 3. Предпочитаете локоны, легкую волну или собранную прическу? Или хотите чтобы для вас мастер подобрал варианты укладки?
                    .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                        .heading Макияж
                        .content
                            ul
                                li 1. Вы уже знаете какой макияж, хотите сделать или нужна рекомендация от визажиста?
                                li 2. Вам нужен вечерний макияж (на фотосессию) или на каждый день?
                                li 3. У нас есть makeup light (более легкий) и  makeup fashion (насыщенный), какой хотелось бы сделать?
                    .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                        .heading Услуги для бровей
                        .content
                            ul
                                li 1. Какую услугу по уходу за бровями хотите сделать?
                                li 2. Вы хотите сделать просто коррекцию бровей или вместе с окрашиванием?
                                li 3. Делали когда-то SPA для бровей, скрабирование или укладку? Хотели бы попробовать?
            h3 Администратор помогала подбирать услугу
            ul.list
                li - ____(имя клиента), исходя из вашего запроса вам подойдет _____ или _____. Какой вариант вам понравился? Проговариваем клиенту:
                    ol
                        li - название услуги;
                        li - презентация услуги (*следующий блок);
                        li - почему именно это услуга лучше всего подходит под запрос клиента.
            h3 Клиент самостоятельно выбрал услугу
            ul.list
                li ____(имя клиента), скажите пожалуйста, у вас есть какие-то вопросы по ____(название услуги). *Если у клиента есть вопросы - отвечаем на них. *Если у клиента нет вопросов переходим к следующему этапу.
            h3 Презентация
            ul.list
                li * Если клиент первый раз обратился в салон или первый раз делает данную услугу. Презентуем клиенту то, что он получит в зависимости от выбранной услуги Презентация услуг.
                li В конце презентации берем обратную связь у клиента:
                    ol
                        li - Как вам данная услуга?
                        li - Такая услуга вам подойдет?
                        li - Вы этого ожидали от ____(название услуги)?
                        li - У вас есть какие-то вопросы или все понятно?
            h3  Закрытие
            .accordion-container
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Новый клиент
                    .content
                        div
                            p.line Закрытие на консультацию
                            ul
                                li - ____(имя клиента), так как вы у нас ещё не были. Мы предлагаем/рекомендуем вам услугу консультации с мастером. На которой, вы сможете лично пообщаться с мастером, задать все интересующие вас вопросы, после он посмотрит структуру ваших волос, их состояние. И сможет индивидуально подобрать для вас наилучший вариант и сориентировать вас по точной стоимости за ___(называем услугу, которую выбрал клиент). Консультация у нас проходит бесплатно (при окрашивании пробной пряди 500 грн.) в случае, если вам что-то не подойдет, а я уверена что вам все понравиться, так как мастера у нас профессионалы своего дела (*говорим с улыбкой), вы сможете отказаться от дальнейшей услуги. Что скажете?
                                li - Какая локация вам удобней на Саксаганского 45 или на Малевича 48?
                                li - ...
                                li - На какую дату хотите записаться?
                                li - ...
                                li - Есть предпочтения по времени? (*В случае свободного дня у мастера, если нет, называем только свободное время)/ Есть время на ___ или ____. Когда вам удобней?
                                li - ...
                                li - Продиктуйте пожалуйста, ваш контактный номер для записи/Номер с которого вы звоните, можно записать как контактный для записи?
                            p.line Закрытие на отправку фото
                                ul
                                    li - ____(имя клиента), так как вы у нас впервые записываетесь. Чтобы вам озвучить стоимость за ___(называем услугу), отправьте нам в вайбер пожалуйста, фото ваших волос и фото ___(стрижки, окрашивания - называем в зависимости от запроса клиента), результата который хотите получить. Для того чтобы, мы смогли оценить состояния ваших волос и какую технику подобрать для вас. После этого мы сможем точнее сориентировать по стоимости. Сегодня до ___(время), получиться нам отправить?
                                    li - ...
                                    li - Отлично. Ожидаем ваши фото и отпишемся или перезвоним вам по стоимости ___(название услуги) и запишем вас. Как вам удобней позвонить или написать?
                                    li - ...
                                    li - Хорошо. Тогда перезвоним/напишем (выбираем, тот вариант, который удобно клиенту) по результату. Договорились?
                                    li - ...
                                    li - На связи с вами! Хорошего дня!
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Постоянный клиент
                    .content
                        ul
                            li - Какая локация вам удобней на Саксаганского 45 или на Малевича 48?
                            li - ...
                            li - На какую дату хотите записаться?
                            li - ...
                            li - Есть предпочтения по времени? (*В случае свободного дня у мастера, если нет, называем только свободное время)/ Есть время на ___ или ____. Когда вам удобней?
                            li - ...
                            li - Продиктуйте пожалуйста, ваш контактный номер для записи/Номер с которого вы звоните, можно записать как контактный для записи?
                            li - ...
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Клиента устраивает время
                    .content
                        ul
                            li - Договорились! Вы записаны на ____(дата) в ____(время) на _______(услуга).
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Клиента не устраивает время
                    .content
                        ul
                            li - ____(имя клиента) мы могли бы вас записать в лист ожидания, если освободится время под вашу услугу, в таком случае мы вам позвоним в оперативном порядке и предложить свободное время. Вас устроит такой вариант?/Что скажете?
                            li - ...
                            li - Договорились, мы обязательно Вам позвоним, если будет свободное время для Вашей услуги. Также, если у вас что-то поменяется по времени, обязательно позвоните и мы постараемся найти для Вас время. Хорошо?
                            li - ...
                            li - Отлично. До свидания! Хорошего дня!
            h3 Допродажа
            .accordion-container
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Вариант 1
                    .content
                        ul
                            li - _____(имя клиента), обычно наши клиенты в дополнении к услуге _____ делают еще _____(сопутствующая услуга). Хотели бы записаться на нее?
                            li - ...
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Вариант 2
                    .content
                        p.other-title *если клиент выбирает услугу где ему какое-то время, необходимо будет ждать. Например: окрашивание, лечение волос
                        ul
                            li - _____(имя клиента), для того чтобы вы провели время с пользой, во время ____(окрашивания/лечения волос), мы можем предложить вам услуги для бровей и ресниц. Хотели бы сразу записаться?
                            li - ...
                            li - * Если клиент согласен на дополнительную услугу. Хорошо. Тогда так же записываем вас на ___(название услуги).
                            li - * Если клиент не согласен на дополнительную услугу. Услышала вас. Если вы захотите воспользоваться дополнительными услугами в салоне, тогда сообщите об этом вашему мастеру во время процедуры и он вас запишет. Хорошо?
                            li - ...
                            li - За день до процедуры/услуги мы еще вас наберем с напоминанием и подтверждением вашей записи. Хорошо? Отлично тогда на связи! Хорошего дня!

block footer
    include ../modules/footer

block scripts
    script(type="text/javascript" src="../slick/slick.min.js")
    script(src="../js/wow.min.js")
    script(src="../js/script.js")