extends ../layout/main

block style
    link(rel="stylesheet" type="text/css" href="../slick/slick.css")
    link(rel="stylesheet" type="text/css" href="../slick/slick-theme.css")
    link(rel="stylesheet" href="../css/style.css")

block title
    title BARLY

block header
    block variables
        - const slider = false
    include ../modules/header

block content
    .page-wrapper
        h2 PRODUCT DESCRIPTION
        .box
            h3 OLAPLEX
            .accordion-container
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для окрашенных волос
                    .content
                        p.line Линейка Olaplex
                        ul
                            li Из линейки подходит Olaplex: No3 (Эликсир «Совершенство волос») + Nо4 (Шампунь «Система защиты волос») + No5 (Кондиционер «Система защиты волос»  + Nо6 (Несмываемый, разглаживающий и восстанавливающий стайлинг-уход). Для комплексного и активного восстановления, защиты и ухода поврежденных волос, часто подвергающихся процедурам окрашивания.
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для нормальных волос
                    .content
                        p.line Линейка Olaplex
                        ul
                            li Nо4 (Шампунь «Система защиты волос») + No5 (Кондиционер «Система защиты волос»  + Nо6 (Несмываемый, разглаживающий и восстанавливающий стайлинг-уход). Для ежедневной защиты и ухода для нормальных волос.
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для всех типов волос
                    .content
                        p.line Линейка Olaplex
                        ul
                            li Nо4 (Шампунь «Система защиты волос») +No5 (Кондиционер «Система защиты волос». Универсальный базовый набор средств для ежедневного очищения и ухода за всеми типами волос.
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Дополнение к ежедневному уходу за волосами
                    .content
                        p.line Линейка Olaplex
                        ul
                            li No3 (Эликсир «Совершенство волос») + Nо6 (Несмываемый, разглаживающий и восстанавливающий стайлинг-уход). Дополните ваш ритуал ухода за волосами активными продуктами системы Olaplex для восстановления структуры волос и идеального контроля, гладкости и блеска.
        .box
            h3 LAKME
            p.description-title TEKNIA – это плод упорной работы. Вся продукция веганская, разработана и сформулирована из самых устойчивых ингредиентов для ухода и красоты волос, а также она помогает сохранить будущее нашей планеты.
            .accordion-container
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для всех типов волос
                    .content
                        div
                            p.line 1. ORGANIC BALANCE
                            p.other-title Включает в себя:
                            ul
                                li - Двухфазный кондиционер
                                li - Шампунь
                                li - Уход - Формула Intense hydra-treatment отличается превосходным сочетанием морской воды и масла кэнди, которое интенсивно питает волокно волоса от корней до кончиков.
                                li - Эфирное масло Кэнди. Чтобы волосы выглядели естественной и здоровый вид, ему нужны повседневный уход и забота. Эта линия увлажняет его и поддерживает естественный баланс.
                            p.other-text ORGANIC BALANCE предлагает средства формулы которых содержат до 99% органических ингредиентов.
                        div
                            p.line 2. PERFECT CLEANSE
                            p.other-title Включает в себя:
                            ul
                                li - Мицеллярный шампунь. - глубоко и мягко очищает волосы и кожу волосистой части головы. Мицеллы улавливают загрязнения, не повреждая волокно волоса. Направлено на выведение токсинов. Препятствует закреплению на волосах известкового налета при мытье водой.
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для окрашенных волос
                    .content
                        div
                            p.line 1. COLOR STAY
                            p.other-title Включает в себя:
                            ul
                                li - Защитный кондиционер
                                li - Защитный шампунь
                                li - Защищающий уход. Увлажняет и восстанавливает волокно волоса. Длительную защиту, продолжающий свойства цвета и укрепляет кутикулу. Блестящие волосы и яркий цвет.
                            p.other-text Данная линия - кондиционирует и увлажняет волокно волоса. Его кислотный рН запечатывает кутикулу. Продолжает свойства цвета и замедляет потерю пигментов. Распутывает и смягчает волосы.
                        div
                            p.line 2. COLOR REFRESH
                            ul
                                li - Оживляет цвет, придает ему устойчивости и чрезвычайного блеска. Продукты COLOR REFRESH содержат основные питательные вещества, обладают антиоксидантным и красящую действие, защищают и восстанавливают красоту волос. Линия состоит из шампуня для восстановления цвета и маски-ухода для восстановления цвета.
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для светлых, мелированных или седых волос
                    .content
                        div
                            p.line WHITE SILVER
                            p.other-title Включает в себя:
                            ul
                                li - Оттеночный шампунь
                                li - Маска, которая придает сияние
                            p.other-text Возвращает светлым волосам ясность тона и холодное сияние. Нейтрализует и удаляет нежелательные желтые блики на седых волосах. Обогащает, увлажняет и повышает чистоту тона и блеск волос. Формула с цветами органического белого лотоса обеспечивает мягкость, увлажнение, чистоту тона и естественный блеск волос.
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для поврежденных волос
                    .content
                        div
                            p.line FULL DEFENSE
                            p.other-title Включает в себя:
                            ul
                                li - Защитная сыворотка
                                li - Защитный шампунь
                                li - Уход - глубоко увлажняет и восстанавливает волокно волоса
                                li - Защитный кондиционирующий спрей
                                li - Защита от токсического воздействия воздуха
                            p.other-text Необходимо соблюдать определенные правила ухода - тщательного увлажнения, глубокого кондиционирования, и защиты с помощью сывороток и масел Lakmé была разработана специальная линию FULL DEFENSE. Средства, входящие к ней, не только защищают волосы от стресса, но и действуют как экран, который “Отражает"" вредное воздействие окружающей среды.
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для ломких волос
                    .content
                        div
                            p.line DEEP CARE
                            p.other-title Включает в себя:
                            ul
                                li - Шампунь
                                li - Кондиционер
                                li - Сыворотка для кончиков волос
                                li - Уход - питает, укрепляет внутренние связи волокна волосы. Повышает его устойчивость, образуя тонкую защитную пленку, которая укрепляет поверхность волос и придает упругости
                            p.other-text Данная линия предназначена для восстановления внутренней структуры волос,  поврежденного из-за сильного стресса или химические процедуры. Восстанавливает, придает силу и повышает устойчивость к ломкости. Формула содержит натуральное производное семян кукурузы, укрепляет внутренние связи, и органическую масло Абиссинии, что всасывается в волосы, и естественным образом разглаживает его волокно. Обеспечивает увлажнение и питание волос изнутри, предоставляет прекрасную мягкость.
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для непослушных волос (кудрявых волос)
                    .content
                        div
                            p.line FRIZZ CONTROL
                            p.other-title Включает в себя:
                            ul
                                li - Дисциплинирующий шампунь
                                li - Дисциплинирующий кондиционер
                                li - Крем для подчеркивания кудрей
                                li - Спрей для термозащиты
                                li - Дисциплинирующее уход - реструктурирует, увлажняет и разглаживает волокно волоса. Предоставляет высокую степень увлажнения, сияния и мягкости. Послушные и блестящие волосы
                            p.other-text Устраняет разрыхленность и дисциплинирует непослушные волосы. Увлажняет, восстанавливает мягкость и превращает непослушные волосы в ухоженное и послушное. «Шлифование» толстое гладкое или вьющиеся волосы, придавая им идеальную текстуру и блеск. Защищает во время сушки и укладки.
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для тонких волос
                    .content
                        div
                            p.line BODY MAKER
                            p.other-title Включает в себя:
                            ul
                                li - Спрей для придания объема
                                li - Шампунь для придания объема
                                li - Бальзам для придания объема
                            p.other-text Незаменимые натуральные компоненты на основе микропротеин органической сои и органического риса действуют как «строительный материал» для волокна волоса. Тонкие волосы становятся устойчивыми к ломкости; благодаря эффекту «перезарядки» создается впечатление естественной толщины, объема и блеска.
        .box
            h3 Kevin Murphy
            .accordion-container
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Уход для окрашенных волос
                    .content
                        div
                            p.line ANGEL KMX
                            p.other-title Включает в себя:
                            ul
                                li - MAXI.WASH/[МАКСИ] шампунь-эксфолиант для кожи головы
                                li - MAXI.WASH/[МАКСИ] шампунь-эксфолиант для кожи головы
                                li - АNGEL.WASH/[АНГЕЛ] шампунь для деликатного ухода за цветом
                                li - ANGEL.MASQUE/[АНГЕЛ] маска для интенсивного ухода за окрашенными волосами
                                li - ANGEL.RINSE/[АНГЕЛ] бальзам для деликатного ухода за цветом
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Уход для увлажнения волос
                    .content
                        div
                            p.line HYDRATE-ME KMX
                            p.other-title Включает в себя:
                            ul
                                li - MAXI.WASH/[МАКСИ] шампунь-эксфолиант для кожи головы
                                li - HYDRATE-ME.WASH/[ХИДРЕЙТ.МИ] шампунь для интенсивного увлажнения
                                li - HYDRATE-ME.MASQUE/[ХИДРЕЙТ.МИ] маска для интенсивного увлажнения
                                li - HYDRATE-ME.RINSE/[ХИДРЕЙТ.МИ]бальзам для интенсивного увлажнения
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Анти-эйдж уход (для длинных волос)
                    .content
                        div
                            p.line YOUNG.AGAIN KMX
                            p.other-title Включает в себя:
                            ul
                                li - MAXI.WASH/[МАКСИ] шампунь-эксфолиант для кожи головы
                                li - YOUNG.AGAIN.WASH/[ЯНГ.ЭГЕЙН] шампунь для укрепления и восстановления длинных волос
                                li - YOUNG.AGAIN.MASQUE/[ЯНГ.ЭГЕЙН]маска для укрепления и восстановления длинных волос
                                li - YOUNG.AGAIN.RINSE/[ЯНГ.ЭГЕЙН] бальзам для укрепления и восстановления длинных волос
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Уход для объема и уплотнения волос
                    .content
                        div
                            p.line PLUMPING KMX
                            p.other-title Включает в себя:
                            ul
                                li - MAXI.WASH/[МАКСИ] шампунь-эксфолиант для кожи головы
                                li - PLUMPING.WASH/[ПЛАМПИН]шампунь для объема и уплотнения волос
                                li - PLUMPING.RINSE/[ПЛАМПИН] бальзам для объема и уплотнения волос
                                li - BODY.MASS/[БОДИ.МАСС] спрей для уплотнения волос
        .box
            h3 Oribe
            .accordion-container
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для чувствительной кожи головы. Для всех типов волос
                    .content
                        div
                            p.line SERENE SCALP
                            p.other-title Включает в себя:
                            ul
                                li - Балансирующий шампунь
                                li - Балансирующий кондиционер
                                li - Успокаивающий уход
                            p.other-title Ингредиенты:
                            ul
                                li - Кофеин
                                li - Швейцарский кресс-салат
                                li - Экстракт семян гороха
                                li - Комплекс экстрактов ромашки, огурца и розмарина
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для увлажнения и ежедневного ухода. Для всех типов волос
                    .content
                        div
                            p.line SIGNATURE
                            p.other-title Включает в себя:
                            ul
                                li - Шампунь
                                li - Увлажняющая маска
                                li - Кондиционер
                            p.other-title Ингредиенты:
                            ul
                                li - Комплекс Signature
                                li - Протеины пшеницы
                                li - Масло дикого манго
                                li - Кератин
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для деликатного ухода за окрашенными волосами светлого (для блондинок) и холодного оттенков
                    .content
                        div
                            p.line BRIGHT BLONDE
                            p.other-title Включает в себя:
                            ul
                                li - Шампунь для светлых волос
                                li - Кондиционер
                                li - Уход- сияние и лечение волос
                            p.other-title Ингредиенты:
                            ul
                                li - Сине-фиолетовый пигмент
                                li - Экстракт лимона, имбиря, ромашки
                                li - Швейцарский кресс-салат
                                li - Экстракт фиолетовой орхидеи
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для окрашенных волос
                    .content
                        div
                            p.line BEAUTIFUL COLOR
                            p.other-title Включает в себя:
                            ul
                                li - Шампунь
                                li - Маска для красивого цвета
                                li - Кондиционер
                                li - Сплит
                            p.other-title Ингредиенты:
                            ul
                                li - Биофлавоноиды
                                li - Экстракт корня галанги
                                li - Многослойная система защиты от УФ
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для поврежденных волос
                    .content
                        div
                            p.line GOLD LUST
                            P.other-title Для интенсивного восстановления поврежденных волос.
                            p.other-title Включает в себя:
                            ul
                                li - Сухой шампунь
                                li - Шампунь
                                li - Трансформирующая Маска
                                li - Ремонт & Восстановление Кондиционер
                                li - Питательное масло для волос
                                li - Balm d’Or Heat Styling Shield
                                li - Imperial  Blowout
                            p.other-title Ингредиенты:
                            ul
                                li - Био Восстанавливающий комплекс
                                li - Комплекс аминокислот
                                li - Разглаживающий протеиновый комплекс
                                li - 19 растительных масел
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для пористых, вьющихся, жестких волос
                    .content
                        div
                            p.line MOISTURE & CONTROL
                            p.other-title Для ежедневного увлажнения и дополнительного контроля.
                            p.other-title Включает в себя:
                            ul
                                li - Шампунь
                                li - Кондиционер
                            p.other-title Ингредиенты:
                            ul
                                li - Комплекс аминокислот
                                li - Растительные протеины
                                li - Экстракт янтаря
                                li - Комплекс масел оливы, ши и ореха бассист
                                li - Nano-silicon комплекс
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для придания объема волосам
                    .content
                        div
                            p.line NAGNIFICENT VOLUME
                            p.other-title Включает в себя:
                            ul
                                li - Шампунь для увеличения объема
                                li - Кондиционер для увеличения объема
                            p.other-title Ингредиенты:
                            ul
                                li - Комплекс полимеров из вытяжки гуаровой камеди
                                li - Кератин
                                li - Экстракт янтаря
                                li - Экстракт семян моринги
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Для придания упругости и блеска волосам
                    .content
                        div
                            p.line BRILLIANCE & SHINE
                            p.other-title Включает в себя:
                            ul
                                li - Шампунь для блеска
                                li - Кондиционер
                                li - Supershine Light  Moisturizing  Cream
                                li - Supershine  Moisturizing  Cream
                                li - Detangling Primer
                            p.other-title Ингредиенты:
                            ul
                                li - Шелковые аминокислоты
                                li - Экстракт янтаря
                                li - Протеины миндаля
                                li - Жемчужная пыль

block footer
    include ../modules/footer

block scripts
    script(type="text/javascript" src="../slick/slick.min.js")
    script(src="../js/wow.min.js")
    script(src="../js/script.js")