extends ../layout/main

block style
    link(rel="stylesheet" type="text/css" href="../slick/slick.css")
    link(rel="stylesheet" type="text/css" href="../slick/slick-theme.css")
    link(rel="stylesheet" href="../css/style.css")

block title
    title BARLY

block header
    block variables
        - const slider = false
    include ../modules/header

block content
    .page-wrapper
        h2 WORK WITH OBJECTIONS
        .box
            .accordion-container
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Четыре основных правила при работе с возражениями
                    .content
                        ul
                            li 1. Никогда не спорь с Клиентом. Подстраивайся и веди.
                            li 2. Никогда не нападай на Клиента. Каждый человек имеет право на свое мнение.
                            li 3. Найди реальную причину возражения.
                            li 4. Сделай так, чтобы человек сам возражал на свои собственные возражения.

                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading В мире существуют только две причины возражений
                    .content
                        ul
                            li 1 – нет потребности (нет боли – нет продажи)
                            li 2 – непонимание (запрос на дополнительную информацию).
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Алгоритм работы с возражениями:
                    .content
                        ul
                            li 1. Выслушай возражение до конца внимательно, спокойно терпеливо, не перебивая, без напряжения (дай человеку выговориться и растратить энергию).
                            li 2. Если вы хотите добиться результата, сначала надо «раствориться» в мнении оппонента, «залезть» в его голову и подумать, по какой причине человек захотел бы сделать иначе, чем поступает сейчас. Постарайтесь как можно чаще задавать себе вопросы:
                                ol
                                    li – По какой причине я, будучи на его месте, согласился бы?
                                    li – Что заставило бы меня при таких же обстоятельствах изменить точку зрения?
                                    li – Почему я прекратил бы отстаивать свое мнение и принял бы другое мнение?
                            li 3. Дай сигнал, что ты его услышал и согласился с правом человека на собственное мнение.
                            li 4. Убедись,​ что ты правильно понял возражение​ (уточни, если это необходимо), т.е. переформулируй сказанное.​ Напр., «Я правильно понял, что Вы бы хотели....»
                            li 5. Задай уточняющие вопросы, чтобы клиент рассказал больше о его точке зрения и его опыте, побуждающем возражать, чтобы найти корень, уточнить и выяснить суть скрытого вопроса/запроса на информацию.
                            li 6. Выясни единственной ли причиной является возражение (главное оно или второстепенное возражение). Сделай его окончательным, иначе он будет тебе возражать до бесконечности.
                            li Сделай его окончательным, иначе он будет тебе возражать до бесконечности. Пример: “Допустим, мы решим этот вопрос. В таком случае Вы готовы записаться к нам в салон/на услугу ___(название)?”
                            li 8. Предоставь информацию, исчерпывающую вопрос Клиента. Подкрепляй свою мысль доводами и фактами. Расскажи историю, начало которой похоже на историю Клиента.
                            li 9. Помните, что чем более явно вы доказываете свое превосходство в каком-либо вопросе (интонации, невербалика), тем больше вы раздражаете собеседника. Вы будете абсолютно правы в своих доводах, но покупать у вас вряд ли кто захочет. Если вы «продавили» оппонента, возможно, он согласится с вами, но вряд ли это будут долгосрочные отношения на взаимовыгодной основе.
                            li 10. Завершение и выход: дай собеседнику "сохранить лицо".
        .box
            h3 РАБОТА С ВОЗРАЖЕНИЯМИ
            .accordion-container
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Я подумаю
                    .content
                        ul
                            li 1. Да, безусловно, подумать важно. Скажите пожалуйста, если я вам перезвоню ____(называем время, пример: сегодня ближе к 16:00), вы уже будете знать получиться у вас к нам записаться или нет?
                            li 2. Скажите пожалуйста, а над чем собираетесь “подумать”? У вас остались какие-то сомнение по услуге?
                            li 3. Да конечно подумайте. Может у вас еще какие-то вопросы остались? Я чем-то могу еще вам помочь?
                        h4 Техника “Да, но”
                        p.other-text Да, но у наших мастеров ограниченное количество времени/мест. И чтобы, вы смогли записаться на удобное для вас время, лучше заранее записываться. Скажите пожалуйста, когда я могу вам перезвонить чтобы узнать ваше решение?
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Я вам перезвоню
                    .content
                        ul
                            li 1. ___(имя клиента), давайте договоримся когда я могу вам перезвонить, чтобы узнать получиться у вас к нам приехать/записаться или нет. Предлагаю созвониться… (указываем как можно раньше, чтобы не затягивать время на подумать; если предложенный вариант не подходит, задаем вопрос: А когда вам удобней?)
                            li 2. Уверена, что у Вас ежедневно много важных дел. Поэтому вы лучше мне скажите, когда – и я вам сегодня могу перезвонить. Когда Вам будет удобно?
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Дорого
                    .content
                        ul
                            li 1. С какими предложениями вы сейчас сравниваете?/В сравнении с чем?
                            li 2. А почему вы так считаете?
                            li 3. Что именно дает вам основания так думать?
                            li 4. А разве не важнее, что этот ___ (название услуги) полностью  соответствует всем вашим требованиям и основным критериям выбора?
                            li 5. Скажите пожалуйста, вам важно сэкономить или получить действительно качественную оказанную услугу от мастера профессионала своего дела?
                        h4 Техника “Да, но”
                        p.other-text - Дорого
                        p.other-text - Да, но с учетом того, что мы сделаем вам ___ (название услуги) на высшем уровне и вы точно останетесь довольны результатом, это стоит того, как вы считаете?
                        h4 “Идеальный продукт”
                        p.other-text Скажите пожалуйста, при выборе салона по предоставлению качественных услуг, которая вам идеально подходит, вы только на цену обращаете внимание? Или существует ещё что-то, на что нам необходимо обратить внимание?
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Я хочу к мастеру ___(имя)
                    .content
                        p.other-text *Когда клиент, хочет к определенному мастеру, но свободного места к нему нет.
                        ul
                            li 1. У нас в салоне работает единая система обслуживания клиентов. Наши мастера постоянно обучаются, тем самым улучшают свой профессионализм. Поэтому, не переживайте за качество, так как наши мастера оказывают услуги на высшем уровне. На данный момент есть свободные места у ___ (имя мастера/мастеров) в ___ (время). Когда вам будет удобней?
                            li 2. На данный момент нет свободного места у ____(имя) мастера. Мы вам можем предложить записаться к __ (имя мастера/мастеров) в ___ (время). Для того, чтобы вы не переживали, и убедились в качестве работы наших мастеров, у нас на странице в Инстаграм есть работы каждого мастера. Вы можете с ними ознакомиться и выбрать того мастера, который вам больше понравился. Как вам такой вариант?
                            li 3. Все наши мастера работают, исключительно по авторским техникам окрашивания. Исходя из этого, вы можете записываться к любому мастеру и получить качественный результат. На какую дату и время хотите записаться?
                .panel(class="wow fadeIn" data-wow-duration="2s" data-wow-offset="50")
                    .heading Мастер передает клиента другому мастеру
                    .content
                        ul
                            li 1. Если вы знаете об этом заранее, необходимо клиента предупредить по телефону.
                            li 2. В случае, если это происходит по факту в салоне: ___ (имя клиента), к сожалению из-за большой загрузки, ___ (имя мастера) не сможет вас принять/провести услугу. Идеальным решением будет, если мы запишем вас к ___ (имя мастера). Так как у нас в салоне работает единая система обслуживания клиентов. Наши мастера работают все по одним технология, которым постоянно обучаются. Поэтому, к какому мастеру вы бы не попали, получите одинаково качественный результат.
                            li 3. Если, после того как вы сказали клиенту о передаче другому мастеру, но у клиента осталось возражение или какое-то недовольство. Используем технологию “Присоединения” к клиенту:
                                ol
                                    li - ____ (имя клиента), я вас прекрасно понимаю, со стороны клиента. Поверьте я бы тоже, осталась недовольна (в недоумении). Но зная, как качественно и ответственно работают наши мастера, я абсолютно уверена, что вы останетель довольны результатам, в не зависимости к какому мастеру попадете. За результат можете быть спокойным!
                                    li - ____ (имя клиента), я вас прекрасно понимаю. Но могу вам точно сказать, что все наши мастера подходят ответственно и профессионально к своей работе. Поэтому не переживайте, вы получите одинаково качественный результат от любого мастера нашего салона.
                            li 4. В случае, если клиент все также, не доволен. Можно предложить клиенту небольшую скидку за оказанную услугу или дать презент в виде физических товаров. Для того чтобы, клиент повторно обратился к нам в салон.

block footer
    include ../modules/footer

block scripts
    script(type="text/javascript" src="../slick/slick.min.js")
    script(src="../js/wow.min.js")
    script(src="../js/script.js")